WEEX_ADMIN_USERNAME=auto
WEEX_ADMIN_PASSWORD=
WEEX_ADMIN_GOOGLE_CODE=
WEEX_ADMIN_BASE_URL=https://stg-activity.weex.tech
WEEX_PRIZE_IMAGE_PATH=assets/default-prize-images/default-bonus-prize.webp
CHROME_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
